@import "styles/variables";

.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $accent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;

  nav {
    height: 100%;
  }

  .Input {
    height: $xl;
    width: 50%;
    border-radius: $s;
    padding: $xxs $s;
    font-style: italic;
    font-size: 1rem;
  }
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}